.aa{text-align: end;}
.aa a{text-decoration: none;}
.bb{text-align: center; color: brown;}
.cc img{width: 49%; border: 5px inset black;}
.cc{text-align: center;}
.dd{text-align: center;}
body{background-color: aliceblue;}
.ee{color: red; text-align: center;}
.ff{color: green; text-align: center;}