<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMSUNG</title>
    <style>
        body{background-color: aliceblue;}
        .aa{text-align: end;}
        .aa a{text-decoration: none;}
        .bb{text-align: center;}
        .cc{text-align: center;}
        .dd{background-color: rgb(93, 163, 224); border: 5px inset black; margin: 5px; padding: 10px;}
        .dd p{text-align: justify;}
        body{background-color: antiquewhite;}
    </style>

</head>
<body>
   <div class="aa">
    <a href="../index.html">home</a>
    <a href="./contact.html">contact us</a>
   </div>

    <div class="bb">
        <h1>SAMSUNG</h1>
    </div>
    <div class="dd">
        <P>Founded in 1744 by William Hollin and Co Ltd., Allen Solly is a brand that revolutionised formal workwear. It has broken the rules of conventional office wear making it more fashionable, fun, trendy and exciting. The brand was bought in the 90's by a company that was a producer of threads and textiles. 
            Shop the latest trends of men's & women's apparel, hundreds of new arrivals and much more. Explore our collection of stylish trendsetting apparel handpicked for you. Shop now! Express Delivery. Free Shipping. Best Collection. 30 Days Return. Trending Style.
        </P>
    </div>
    
    <div class="cc">
        <img src="../images/pexels-fauxels-3228761.jpg" alt="" width="30%">
        <img src="../images/pexels-mohi-syed-47261.jpg" alt="" width="30%">
        <img src="../images/pexels-jonas-svidras-1434819.jpg" alt="" width="30%">
    </div>

</body>
</html>